In [1]:
# Python
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df_mask_use = pd.read_csv('/content/drive/My Drive/512_project/data/mask-use-by-county.csv')
df_mask_use

      COUNTYFP  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
0         1001  0.053   0.074      0.134       0.295   0.444
1         1003  0.083   0.059      0.098       0.323   0.436
2         1005  0.067   0.121      0.120       0.201   0.491
3         1007  0.020   0.034      0.096       0.278   0.572
4         1009  0.053   0.114      0.180       0.194   0.459
...        ...    ...     ...        ...         ...     ...
3137     56037  0.061   0.295      0.230       0.146   0.268
3138     56039  0.095   0.157      0.160       0.247   0.340
3139     56041  0.098   0.278      0.154       0.207   0.264
3140     56043  0.204   0.155      0.069       0.285   0.287
3141     56045  0.142   0.129      0.148       0.207   0.374

[3142 rows x 6 columns]

In [4]:
df_cases = pd.read_csv('/content/drive/My Drive/512_project/data/RAW_us_confirmed_cases.csv')
df_cases

,Province_State,Admin2,UID,iso2,iso3,code3,FIPS,Country_Region,Lat,Long_,...,10/18/22,10/19/22,10/20/22,10/21/22,10/22/22,10/23/22,10/24/22,10/25/22,10/26/22,10/27/22
0,Alabama,Autauga,84001001,US,USA,840,1001.0,US,32.539527,-86.644082,...,18452,18452,18480,18480,18480,18480,18480,18480,18480,18511
1,Alabama,Baldwin,84001003,US,USA,840,1003.0,US,30.727750,-87.722071,...,65819,65819,65895,65895,65895,65895,65895,65895,65895,65973
2,Alabama,Barbour,84001005,US,USA,840,1005.0,US,31.868263,-85.387129,...,6910,6910,6926,6926,6926,6926,6926,6926,6926,6930
3,Alabama,Bibb,84001007,US,USA,840,1007.0,US,32.996421,-87.125115,...,7547,7547,7560,7560,7560,7560,7560,7560,7560,7575
4,Alabama,Blount,84001009,US,USA,840,1009.0,US,33.982109,-86.567906,...,17256,17256,17286,17286,17286,17286,17286,17286,17286,17320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,Wyoming,Teton,84056039,US,USA,840,56039.0,US,43.935225,-110.589080,...,11800,11800,11800,11800,11800,11800,11800,11814,11814,11814
3338,Wyoming,Uinta,84056041,US,USA,840,56041.0,US,41.287818,-110.547578,...,6176,6176,6176,6176,6176,6176,6176,6186,6186,6186
3339,Wyoming,Unassigned,84090056,US,USA,840,90056.0,US,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
3340,Wyoming,Washakie,84056043,US,USA,840,56043.0,US,43.904516,-107.680187,...,2669,2669,2669,2669,2669,2669,2669,2672,2672,2672
3341,Wyoming,Weston,84056045,US,USA,840,56045.0,US,43.839612,-104.567488,...,1821,1821,1821,1821,1821,1821,1821,1828,1828,1828

In [5]:
df_mandates = pd.read_csv('/content/drive/My Drive/512_project/data/U.S._State_and_Territorial_Public_Mask_Mandates_From_April_10__2020_through_August_15__2021_by_County_by_Day.csv')
df_mandates

,State_Tribe_Territory,County_Name,FIPS_State,FIPS_County,date,order_code,Face_Masks_Required_in_Public,Source_of_Action,URL,Citation
0,AL,Autauga County,1,1,4/10/2020,2,NaN,NaN,NaN,NaN
1,AL,Autauga County,1,1,4/11/2020,2,NaN,NaN,NaN,NaN
2,AL,Autauga County,1,1,4/12/2020,2,NaN,NaN,NaN,NaN
3,AL,Autauga County,1,1,4/13/2020,2,NaN,NaN,NaN,NaN
4,AL,Autauga County,1,1,4/14/2020,2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1593864,VI,St. Thomas Island,78,30,8/11/2021,1,Yes,Official,NaN,"V.I. Twenty-Seventh Supp. Exec. Order (Aug. 6,..."
1593865,VI,St. Thomas Island,78,30,8/12/2021,1,Yes,Official,NaN,"V.I. Twenty-Seventh Supp. Exec. Order (Aug. 6,..."
1593866,VI,St. Thomas Island,78,30,8/13/2021,1,Yes,Official,NaN,"V.I. Twenty-Seventh Supp. Exec. Order (Aug. 6,..."
1593867,VI,St. Thomas Island,78,30,8/14/2021,1,Yes,Official,NaN,"V.I. Twenty-Seventh Supp. Exec. Order (Aug. 6,..."
1593868,VI,St. Thomas Island,78,30,8/15/2021,1,Yes,Official,NaN,"V.I. Twenty-Seventh Supp. Exec. Order (Aug. 6,..."

# Feature Engineering

### Drop columns that will not be used

In [6]:
df_cases = df_cases.drop(columns=['UID', 'iso2', 'iso3', 'code3', 'Country_Region', 'Lat', 'Long_', 'Combined_Key'])
df_cases

,Province_State,Admin2,FIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,10/18/22,10/19/22,10/20/22,10/21/22,10/22/22,10/23/22,10/24/22,10/25/22,10/26/22,10/27/22
0,Alabama,Autauga,1001.0,0,0,0,0,0,0,0,...,18452,18452,18480,18480,18480,18480,18480,18480,18480,18511
1,Alabama,Baldwin,1003.0,0,0,0,0,0,0,0,...,65819,65819,65895,65895,65895,65895,65895,65895,65895,65973
2,Alabama,Barbour,1005.0,0,0,0,0,0,0,0,...,6910,6910,6926,6926,6926,6926,6926,6926,6926,6930
3,Alabama,Bibb,1007.0,0,0,0,0,0,0,0,...,7547,7547,7560,7560,7560,7560,7560,7560,7560,7575
4,Alabama,Blount,1009.0,0,0,0,0,0,0,0,...,17256,17256,17286,17286,17286,17286,17286,17286,17286,17320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,Wyoming,Teton,56039.0,0,0,0,0,0,0,0,...,11800,11800,11800,11800,11800,11800,11800,11814,11814,11814
3338,Wyoming,Uinta,56041.0,0,0,0,0,0,0,0,...,6176,6176,6176,6176,6176,6176,6176,6186,6186,6186
3339,Wyoming,Unassigned,90056.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3340,Wyoming,Washakie,56043.0,0,0,0,0,0,0,0,...,2669,2669,2669,2669,2669,2669,2669,2672,2672,2672
3341,Wyoming,Weston,56045.0,0,0,0,0,0,0,0,...,1821,1821,1821,1821,1821,1821,1821,1828,1828,1828

### Unpivot a DataFrame from wide to long format, rename columns

In [7]:
df_cases = df_cases.melt(id_vars=df_cases.columns[0:3])
df_cases = df_cases.rename(columns={"variable": "date", "value": "cum_case", 
                               "Province_State": "state", "Admin2": "county",
                              "FIPS": "COUNTYFP"})
df_cases

           state      county  COUNTYFP      date  cum_case
0        Alabama     Autauga    1001.0   1/22/20         0
1        Alabama     Baldwin    1003.0   1/22/20         0
2        Alabama     Barbour    1005.0   1/22/20         0
3        Alabama        Bibb    1007.0   1/22/20         0
4        Alabama      Blount    1009.0   1/22/20         0
...          ...         ...       ...       ...       ...
3375415  Wyoming       Teton   56039.0  10/27/22     11814
3375416  Wyoming       Uinta   56041.0  10/27/22      6186
3375417  Wyoming  Unassigned   90056.0  10/27/22         0
3375418  Wyoming    Washakie   56043.0  10/27/22      2672
3375419  Wyoming      Weston   56045.0  10/27/22      1828

[3375420 rows x 5 columns]

### Drop rows with missing values

In [8]:
df_cases = df_cases.dropna()

### Changed dataframe types

In [9]:
df_cases.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3359260 entries, 0 to 3375419
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   state     object
 1   county    object
 2   COUNTYFP  float64
 3   date      object
 4   cum_case  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 153.8+ MB

In [10]:
df_cases['date']= pd.to_datetime(df_cases['date'])
df_cases['COUNTYFP'] = df_cases['COUNTYFP'].astype(np.int64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Sort Dataframe

In [11]:
df_cases = df_cases.sort_values(by=['state', 'county', 'date'], ascending = [True, True, True]).reset_index(drop=True)
df_cases

           state   county  COUNTYFP       date  cum_case
0        Alabama  Autauga      1001 2020-01-22         0
1        Alabama  Autauga      1001 2020-01-23         0
2        Alabama  Autauga      1001 2020-01-24         0
3        Alabama  Autauga      1001 2020-01-25         0
4        Alabama  Autauga      1001 2020-01-26         0
...          ...      ...       ...        ...       ...
3359255  Wyoming   Weston     56045 2022-10-23      1821
3359256  Wyoming   Weston     56045 2022-10-24      1821
3359257  Wyoming   Weston     56045 2022-10-25      1828
3359258  Wyoming   Weston     56045 2022-10-26      1828
3359259  Wyoming   Weston     56045 2022-10-27      1828

[3359260 rows x 5 columns]

### Join cases dataframe with mask use dataframe

In [12]:
df_cases = pd.merge(df_cases, df_mask_use, on='COUNTYFP', how='inner')

In [13]:
df_cases

,state,county,COUNTYFP,date,cum_case,NEVER,RARELY,SOMETIMES,FREQUENTLY,ALWAYS
0,Alabama,Autauga,1001,2020-01-22,0,0.053,0.074,0.134,0.295,0.444
1,Alabama,Autauga,1001,2020-01-23,0,0.053,0.074,0.134,0.295,0.444
2,Alabama,Autauga,1001,2020-01-24,0,0.053,0.074,0.134,0.295,0.444
3,Alabama,Autauga,1001,2020-01-25,0,0.053,0.074,0.134,0.295,0.444
4,Alabama,Autauga,1001,2020-01-26,0,0.053,0.074,0.134,0.295,0.444
...,...,...,...,...,...,...,...,...,...,...
3173415,Wyoming,Weston,56045,2022-10-23,1821,0.142,0.129,0.148,0.207,0.374
3173416,Wyoming,Weston,56045,2022-10-24,1821,0.142,0.129,0.148,0.207,0.374
3173417,Wyoming,Weston,56045,2022-10-25,1828,0.142,0.129,0.148,0.207,0.374
3173418,Wyoming,Weston,56045,2022-10-26,1828,0.142,0.129,0.148,0.207,0.374
3173419,Wyoming,Weston,56045,2022-10-27,1828,0.142,0.129,0.148,0.207,0.374

### Feature engineering for mandates dataframe

In [14]:
# lets set N/A values from before mandates came into effect to no. 
# Technically people were not required to wear masks when covid did not exist in the state, no works here.
df_mandates["Face_Masks_Required_in_Public"] = df_mandates["Face_Masks_Required_in_Public"].fillna("No")
df_mandates = df_mandates.drop(columns=['order_code', 'Source_of_Action', 'URL', 
                                        'Citation', 'State_Tribe_Territory', 'County_Name'])
df_mandates

         FIPS_State  FIPS_County       date Face_Masks_Required_in_Public
0                 1            1  4/10/2020                            No
1                 1            1  4/11/2020                            No
2                 1            1  4/12/2020                            No
3                 1            1  4/13/2020                            No
4                 1            1  4/14/2020                            No
...             ...          ...        ...                           ...
1593864          78           30  8/11/2021                           Yes
1593865          78           30  8/12/2021                           Yes
1593866          78           30  8/13/2021                           Yes
1593867          78           30  8/14/2021                           Yes
1593868          78           30  8/15/2021                           Yes

[1593869 rows x 4 columns]

In [15]:
df_mandates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1593869 entries, 0 to 1593868
Data columns (total 4 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   FIPS_State                     1593869 non-null  int64
 1   FIPS_County                    1593869 non-null  int64
 2   date                           1593869 non-null  object
 3   Face_Masks_Required_in_Public  1593869 non-null  object
dtypes: int64(2), object(2)
memory usage: 48.6+ MB

In [16]:
df_mandates['date']= pd.to_datetime(df_mandates['date'])
df_mandates['FIPS_State'] = df_mandates['FIPS_State'].astype(str)
df_mandates['FIPS_County'] = df_mandates['FIPS_County'].astype(str)
df_mandates['COUNTYFP'] = (df_mandates['FIPS_State'] + df_mandates['FIPS_County'])

df_mandates = df_mandates.drop(columns=['FIPS_State', 'FIPS_County'])

df_mandates['COUNTYFP'] = df_mandates['COUNTYFP'].astype(np.int64)

In [17]:
df_mandates['Face_Masks_Required_in_Public'] = pd.Series(np.where(df_mandates.Face_Masks_Required_in_Public.values 
                                                                  == 'Yes', 1, 0), df_mandates.index)

In [18]:
df_mandates

              date  Face_Masks_Required_in_Public  COUNTYFP
0       2020-04-10                              0        11
1       2020-04-11                              0        11
2       2020-04-12                              0        11
3       2020-04-13                              0        11
4       2020-04-14                              0        11
...            ...                            ...       ...
1593864 2021-08-11                              1      7830
1593865 2021-08-12                              1      7830
1593866 2021-08-13                              1      7830
1593867 2021-08-14                              1      7830
1593868 2021-08-15                              1      7830

[1593869 rows x 3 columns]

### Merge mandas dataframe with cases dataframe

In [19]:
df_cases = pd.merge(df_cases, df_mandates, on=['COUNTYFP', 'date'], how='inner')
df_cases = df_cases.drop_duplicates()
df_cases

,state,county,COUNTYFP,date,cum_case,NEVER,RARELY,SOMETIMES,FREQUENTLY,ALWAYS,Face_Masks_Required_in_Public
0,Alabama,Montgomery,1101,2020-04-10,97,0.056,0.095,0.123,0.212,0.513,0
1,Alabama,Montgomery,1101,2020-04-11,107,0.056,0.095,0.123,0.212,0.513,0
2,Alabama,Montgomery,1101,2020-04-12,120,0.056,0.095,0.123,0.212,0.513,0
3,Alabama,Montgomery,1101,2020-04-13,150,0.056,0.095,0.123,0.212,0.513,0
4,Alabama,Montgomery,1101,2020-04-14,165,0.056,0.095,0.123,0.212,0.513,0
...,...,...,...,...,...,...,...,...,...,...,...
629063,Wisconsin,Wood,55141,2021-08-11,7941,0.131,0.177,0.215,0.181,0.296,0
629064,Wisconsin,Wood,55141,2021-08-12,7947,0.131,0.177,0.215,0.181,0.296,0
629065,Wisconsin,Wood,55141,2021-08-13,7960,0.131,0.177,0.215,0.181,0.296,0
629066,Wisconsin,Wood,55141,2021-08-14,7960,0.131,0.177,0.215,0.181,0.296,0
629067,Wisconsin,Wood,55141,2021-08-15,7960,0.131,0.177,0.215,0.181,0.296,0

### Drop rows before 2020-04-15 and two years after which is 2021-04-15

In [20]:
df_cases = df_cases[(df_cases['date'] >= '2020-04-15') & (df_cases['date'] < '2021-04-15')]
df_cases

,state,county,COUNTYFP,date,cum_case,NEVER,RARELY,SOMETIMES,FREQUENTLY,ALWAYS,Face_Masks_Required_in_Public
5,Alabama,Montgomery,1101,2020-04-15,190,0.056,0.095,0.123,0.212,0.513,0
6,Alabama,Montgomery,1101,2020-04-16,199,0.056,0.095,0.123,0.212,0.513,0
7,Alabama,Montgomery,1101,2020-04-17,200,0.056,0.095,0.123,0.212,0.513,0
8,Alabama,Montgomery,1101,2020-04-18,213,0.056,0.095,0.123,0.212,0.513,0
9,Alabama,Montgomery,1101,2020-04-19,223,0.056,0.095,0.123,0.212,0.513,0
...,...,...,...,...,...,...,...,...,...,...,...
628940,Wisconsin,Wood,55141,2021-04-10,7293,0.131,0.177,0.215,0.181,0.296,0
628941,Wisconsin,Wood,55141,2021-04-11,7312,0.131,0.177,0.215,0.181,0.296,0
628942,Wisconsin,Wood,55141,2021-04-12,7317,0.131,0.177,0.215,0.181,0.296,0
628943,Wisconsin,Wood,55141,2021-04-13,7319,0.131,0.177,0.215,0.181,0.296,0
628944,Wisconsin,Wood,55141,2021-04-14,7326,0.131,0.177,0.215,0.181,0.296,0

### Drop the few counties that have a different length time series to Wayne, Michigan
These counties have incorrect data as there is 365 days between 2020-04-15 and 2021-04-15

In [21]:
unique_state_county_df = df_cases[['state', 'county']].drop_duplicates()
to_drop = []
for i in range(unique_state_county_df.shape[0]):
    county_df = df_cases[df_cases['state'] == unique_state_county_df.iloc[i]['state']]
    state_county_df = county_df[county_df['county'] == unique_state_county_df.iloc[i]['county']]
    
    if state_county_df.shape[0] != 365:
        to_drop.append([unique_state_county_df.iloc[i]['state'], unique_state_county_df.iloc[i]['county']])
#     print(unique_state_county_df.iloc[i]['state'])
#     print(unique_state_county_df.iloc[i]['county'])
#     print('count:', state_county_df.shape[0])

In [22]:
to_drop

[['Alaska', 'North Slope'],
 ['Alaska', 'Petersburg'],
 ['Alaska', 'Valdez-Cordova'],
 ['Alaska', 'Wrangell'],
 ['Arkansas', 'Poinsett'],
 ['Arkansas', 'Polk'],
 ['Arkansas', 'Pope'],
 ['Arkansas', 'Prairie'],
 ['Arkansas', 'Pulaski'],
 ['Arkansas', 'Randolph'],
 ['Arkansas', 'Saline'],
 ['Arkansas', 'Scott'],
 ['Arkansas', 'Searcy'],
 ['Arkansas', 'Sebastian'],
 ['Arkansas', 'Sevier'],
 ['Arkansas', 'Sharp'],
 ['Arkansas', 'St. Francis'],
 ['Arkansas', 'Stone'],
 ['Arkansas', 'Van Buren'],
 ['Arkansas', 'Washington'],
 ['Arkansas', 'White'],
 ['Arkansas', 'Woodruff'],
 ['Arkansas', 'Yell']]

In [23]:
for (state, county) in to_drop:
    df_cases = df_cases.drop(df_cases[(df_cases['state'] == state) & (df_cases['county'] == county)].index)

### Save where case count when county change happens. This is where the next line of code fails

In [24]:
cases_to_fill = df_cases.loc[~(df_cases['county'] == df_cases.shift(periods=1)['county'])]['cum_case']
cases_to_fill

5         190
498        42
991         7
1484       28
1977       25
         ...
626608    238
627101      4
627594      2
628087     31
628580      2
Name: cum_case, Length: 1230, dtype: int64

### Change from cumulative cases to new cases for each day

In [25]:
df_cases['cum_case'] = df_cases['cum_case'] - df_cases.shift(periods=1)['cum_case']

In [26]:
for index in cases_to_fill.index:
    df_cases.at[index, 'cum_case'] = cases_to_fill[index]

In [27]:
df_cases = df_cases.rename(columns={"cum_case":  "new_cases"})

In [28]:
df_cases

,state,county,COUNTYFP,date,new_cases,NEVER,RARELY,SOMETIMES,FREQUENTLY,ALWAYS,Face_Masks_Required_in_Public
5,Alabama,Montgomery,1101,2020-04-15,190.0,0.056,0.095,0.123,0.212,0.513,0
6,Alabama,Montgomery,1101,2020-04-16,9.0,0.056,0.095,0.123,0.212,0.513,0
7,Alabama,Montgomery,1101,2020-04-17,1.0,0.056,0.095,0.123,0.212,0.513,0
8,Alabama,Montgomery,1101,2020-04-18,13.0,0.056,0.095,0.123,0.212,0.513,0
9,Alabama,Montgomery,1101,2020-04-19,10.0,0.056,0.095,0.123,0.212,0.513,0
...,...,...,...,...,...,...,...,...,...,...,...
628940,Wisconsin,Wood,55141,2021-04-10,12.0,0.131,0.177,0.215,0.181,0.296,0
628941,Wisconsin,Wood,55141,2021-04-11,19.0,0.131,0.177,0.215,0.181,0.296,0
628942,Wisconsin,Wood,55141,2021-04-12,5.0,0.131,0.177,0.215,0.181,0.296,0
628943,Wisconsin,Wood,55141,2021-04-13,2.0,0.131,0.177,0.215,0.181,0.296,0
628944,Wisconsin,Wood,55141,2021-04-14,7.0,0.131,0.177,0.215,0.181,0.296,0

### Windowing data
Case numbers are not always reported for an indidual day and that count is added to subsqeuent days. I will smooth the graph by taking the average of a two day window for each day

In [29]:
df_cases['new_cases'] = df_cases['new_cases'].rolling(2).mean()

In [30]:
for index in cases_to_fill.index:
    df_cases.at[index, 'new_cases'] = cases_to_fill[index]

In [31]:
df_cases

,state,county,COUNTYFP,date,new_cases,NEVER,RARELY,SOMETIMES,FREQUENTLY,ALWAYS,Face_Masks_Required_in_Public
5,Alabama,Montgomery,1101,2020-04-15,190.0,0.056,0.095,0.123,0.212,0.513,0
6,Alabama,Montgomery,1101,2020-04-16,99.5,0.056,0.095,0.123,0.212,0.513,0
7,Alabama,Montgomery,1101,2020-04-17,5.0,0.056,0.095,0.123,0.212,0.513,0
8,Alabama,Montgomery,1101,2020-04-18,7.0,0.056,0.095,0.123,0.212,0.513,0
9,Alabama,Montgomery,1101,2020-04-19,11.5,0.056,0.095,0.123,0.212,0.513,0
...,...,...,...,...,...,...,...,...,...,...,...
628940,Wisconsin,Wood,55141,2021-04-10,10.0,0.131,0.177,0.215,0.181,0.296,0
628941,Wisconsin,Wood,55141,2021-04-11,15.5,0.131,0.177,0.215,0.181,0.296,0
628942,Wisconsin,Wood,55141,2021-04-12,12.0,0.131,0.177,0.215,0.181,0.296,0
628943,Wisconsin,Wood,55141,2021-04-13,3.5,0.131,0.177,0.215,0.181,0.296,0
628944,Wisconsin,Wood,55141,2021-04-14,4.5,0.131,0.177,0.215,0.181,0.296,0

# Change mask usage columns to one column called "mask_use"
The columns "NEVER", "RARELY", "SOMETIMES", "FREQUENTLY", and "ALWAYS" can be combined by multiplying the percentage represented in each column by 0 for "NEVER, 0.25 for "RARELY", 0.5 for "SOMETIMES", 0.75 for "FREQUENTLY", and  1 for "ALWAYS". Then adding these columns together will give us a nominal continuous representation for mask usage between 0 and 1.

In [32]:
df_cases["mask_use"] = (df_cases['RARELY'] * 0.25 + df_cases['SOMETIMES'] * 0.5 + 
                        df_cases['FREQUENTLY'] * 0.75 +  df_cases['ALWAYS'])

In [33]:
df_cases = df_cases.drop(columns=["NEVER", "RARELY", "SOMETIMES", "FREQUENTLY", "ALWAYS"])
df_cases

,state,county,COUNTYFP,date,new_cases,Face_Masks_Required_in_Public,mask_use
5,Alabama,Montgomery,1101,2020-04-15,190.0,0,0.75725
6,Alabama,Montgomery,1101,2020-04-16,99.5,0,0.75725
7,Alabama,Montgomery,1101,2020-04-17,5.0,0,0.75725
8,Alabama,Montgomery,1101,2020-04-18,7.0,0,0.75725
9,Alabama,Montgomery,1101,2020-04-19,11.5,0,0.75725
...,...,...,...,...,...,...,...
628940,Wisconsin,Wood,55141,2021-04-10,10.0,0,0.58350
628941,Wisconsin,Wood,55141,2021-04-11,15.5,0,0.58350
628942,Wisconsin,Wood,55141,2021-04-12,12.0,0,0.58350
628943,Wisconsin,Wood,55141,2021-04-13,3.5,0,0.58350
628944,Wisconsin,Wood,55141,2021-04-14,4.5,0,0.58350

In [34]:
df_cases.to_csv('/content/drive/My Drive/512_project/data/cleaned_data.csv', index=False)